/* 클래스 선택자고 배경색은 yellowgreen, 글자색은 red */

.class1{
    background-color: yellowgreen;
    color: red;
}

#id1 {
    background-color: pink;
}

div{
    width: 200px;
    height: 200px;
    color: white;
    background-color: teal !important;
}

